
body
{
    background-image: url(../image/COVID-19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1
{
    text-align: center;
    font-weight: bold;
    color: white;

    
}
div
{
    width:40%;
    margin: 20px;
    padding: 5%;
    margin: auto;
    background-color: rgb(56, 75, 120);
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    


}
label
{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#res
{
    background-color: rgb(13, 90, 148);
    display: none;
    width: 60%;
    color: white;
    border: 1px solid white;


}
#btn{
    font-family: Calibri;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid black;
    color: black;

}
input
{
    border:1px solid black;
    border-radius: 5px;
    font-size: 20px;
}


